<% if CycleTimetable.show_apply_1_deadline_banner? %>
  <%= govuk_notification_banner(title: "Important") do |notification_banner| %>
    <%= notification_banner.slot(:heading, text: "Apply now to get on a course starting in the #{CycleTimetable.current_year} to #{CycleTimetable.next_year} academic year") %>
    <p class="govuk-body">Courses can fill up at any time, so you should apply as soon as you can.</p>
    <p class="govuk-body">If you’re applying for the first time since applications opened in <%= CycleTimetable.find_opens.strftime('%B %Y') %>, apply no later than 6pm on <%= apply_1_deadline %>.</p>
    <p class="govuk-body">If your application did not lead to a place and you’re applying again, apply no later than 6pm on <%= apply_2_deadline %>.</p>
  <% end %>
<% elsif CycleTimetable.show_apply_2_deadline_banner? %>
  <%= govuk_notification_banner(title: "Important") do |notification_banner| %>
    <%= notification_banner.slot(:heading, text: "If you’re applying for the first time since applications opened in #{CycleTimetable.find_opens.strftime('%B %Y')}") %>
    <p class="govuk-body">It’s no longer possible to apply for teacher training starting in the <%= "#{CycleTimetable.current_year} to #{CycleTimetable.next_year}" %> academic year.</p>
    <p class="govuk-body">Come back from 9am on <%= find_reopens %> to find courses starting in the <%= "#{CycleTimetable.next_year} to #{CycleTimetable.next_year + 1}" %> academic year.</p>
    <p class="govuk-body">You can submit an application from 9am on <%= apply_reopens %>.</p>
    <p class="govuk-notification-banner__heading">If your application did not lead to a place and you’re applying again</p>
    <p class="govuk-body">You can continue to view and apply for courses starting in the <%= "#{CycleTimetable.current_year} to #{CycleTimetable.next_year}" %> academic year until 6pm on <%= apply_2_deadline %>.</p>
  <% end %>
<% elsif CycleTimetable.show_cycle_closed_banner? %>
  <%= govuk_notification_banner(title: "Important") do |notification_banner| %>
    <%= notification_banner.slot(:heading, text: "It’s no longer possible to apply for teacher training starting in the #{CycleTimetable.current_year} to #{CycleTimetable.next_year} academic year") %>
    <p class="govuk-body">Come back from 9am on <%= find_reopens %> to find courses starting in the <%= "#{CycleTimetable.next_year} to #{CycleTimetable.next_year + 1}" %> academic year, as there’s no guarantee that the courses currently shown on this website will be on offer next year.</p>
    <p class="govuk-body">You can submit an application from 9am on <%= apply_reopens %>.</p>
  <% end %>
<% end %>
