<%= render LocationSubjectFilterComponent.new(results: results) %>

<h1 class="govuk-heading-xl" data-qa="heading">
  <%= "#{results.number_of_courses_string} found" %>
</h1>

<div class="app-filter-toggle"></div>

<div class="app-filter-layout">
  <div class="app-filter-layout__filter">
    <%= render Results::FilterComponent.new(results: results) %>
  </div>
  <div class="app-filter-layout__content">
    <% if results.no_results_found? %>
      <%= render Results::NoResultsComponent.new(results: results) %>
    <% else %>
      <%= render Results::SortByComponent.new(results: results) %>
    <% end %>

    <!-- Results::SuggestedSearchesComponent -->
    <% if results.suggested_search_visible? %>
      <div data-qa="suggested_searches">
        <h3 class="govuk-heading-s" data-qa="suggested_search_heading">Suggested searches</h3>
        <p class="govuk-body" data-qa="suggested_search_description">You can find:</p>
        <ul class="govuk-list govuk-list--bullet">
          <%- results.suggested_search_links.each do |link| %>
            <li data-qa="suggested_search_link">
              <%= govuk_link_to link.text, link.url, data: { qa: 'link' } %><%= link.suffix %>
            </li>
          <%- end -%>
        </ul>
      </div>
    <% end %>

    <% if results.has_results? %>
      <ul class="app-search-results">
        <% courses.each do |course| %>
          <%= render Results::SearchResultComponent.new(
            course: course,
            has_sites: results.has_sites?(course),
            filtered_by_location: results.location_filter?,
          ) %>
        <% end %>
      </ul>
    <% end %>

    <%= paginate(courses, total_pages: results.total_pages) %>
  </div>
</div>
