<dt class="govuk-list--description__label">
  <%= (number_of_locations > 1) ? "Nearest location" :  "Location"%>
</dt>
<dd>
  <%= "#{pluralize(location_distance, 'mile')} from you" %>
  <% if number_of_locations > 1 %>
    <div class="govuk-!-margin-top-0">
      (Nearest of <%= number_of_locations %> locations to choose from)
    </div>
  <% end %>

  <span class="govuk-list--description__hint govuk-!-padding-top-2">Location</span>
  <% if nearest_location_name != "Main Site" %>
    <%= nearest_location_name %><br />
  <% end %>
  <div class="app-text-ellipsis">
    <%= nearest_address %>
  </div>
</dd>
