<%= content_for :page_title, "#{number_with_delimiter(@courses.total_count)} courses" %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Teacher training courses</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      filters go here
      <div data-qa="filters">
        <div>
          <%=link_to "Change location or choose a provider", @results_view.filter_path_with_unescaped_commas(location_path), class: "govuk-link", data: { qa: "filters__location_link" }%>
        </div>
        <div>
          <%=link_to "Change subjects", @results_view.filter_path_with_unescaped_commas(subject_path), class: "govuk-link", data: { qa: "filters__subject_link" }%>
        </div>
        <%= render partial: 'results/study_type' %>
        <div>
          <%=link_to "Change qualifications", @results_view.filter_path_with_unescaped_commas(qualification_path), class: "govuk-link", data: { qa: "filters__qualifications_link" }%>
        </div>
        <div>
          <%=link_to "Change salary option", @results_view.filter_path_with_unescaped_commas(funding_path), class: "govuk-link", data: { qa: "filters__salary_link" }%>
        </div>
        <div>
          <%=link_to "Change vacancies", @results_view.filter_path_with_unescaped_commas(vacancy_path), class: "govuk-link", data: { qa: "filters__vacancy_link" }%>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body search-results__count"><%= number_with_delimiter(@courses.total_count) %> courses found</p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body search-results__new-search">
            <%= link_to "New search", root_path, class: "govuk-link" %>
          </p>
        </div>
      </div>
      <ul class="govuk-list search-results">
        <% @courses.each do |course| %>
          <li data-qa="course">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-6">
              <%= link_to course_path(provider_code: course.provider_code, course_code: course.course_code), class: "govuk-link  search-result-link", rel: "prev", data: { qa: "course__link" } do %>
                <span data-qa="course__provider_name" class="govuk-!-font-size-19"><%= course.provider.provider_name %></span>
                <br>
                <span data-qa="course__name" class="search-result-link-name govuk-!-font-size-24"><%= course.decorate.display_title %></span>
              <% end %>
            </h3>
            <dl class="govuk-list--description">
              <dt class="govuk-list--description__label">Course</dt>
              <dd data-qa="course__description"><%= course.description%></dd>
              <dt class="govuk-list--description__label">Financial support</dt>
              <dd data-qa="course__funding_options"><%= course.decorate.funding_option %></dd>
              <% if course.accrediting_provider.present? %>
                <dt>Accredited body</dt>
                <dd data-qa="course__accrediting_provider"><%= course.accrediting_provider.provider_name %></dd>
                <% end %>
                  <dt class="govuk-list--description__label">Main address</dt>
                  <dd data-qa="course__main_address">
                <%= course.provider.decorate.short_address %>
              </dd>
            </dl>
          </li>
        <% end %>
      </ul>
      <%= paginate @courses %>
    </div>
  </div>
</div>
