<%= content_for :page_title, "#{@results_view.number_of_courses_string}" %>
<%= content_for :body_end do %>
  <% if @results_view.show_results_map? %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Settings.google.maps_api_key %>&callback=initLocationsResults" async defer></script>
  <% end %>
<% end %>

<% if @results_view.show_results_map? %>
<script>
  window.userLat = <%= @results_view.latitude %>;
  window.userLng = <%= @results_view.longitude %>;
</script>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if @results_view.provider_filter? %>
        <h1 class="govuk-heading-xl" data-qa="heading">
          <span class="govuk-caption-l">Teacher training courses</span>
          <%= @results_view.provider %>
        </h1>
      <% else %>
        <h1 class="govuk-heading-xl" data-qa="heading">
          <span class="govuk-caption-xl">Teacher training courses</span>
          <span><%= @results_view.location %></span>
        </h1>
      <% end %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-toggle" data-module="toggle">
        <button class="govuk-toggle__link js-toggle" aria-expanded="false" aria-controls="searchFilters">
          Filter the results
        </button>
        <div class="govuk-toggle__target" id="searchFilters" data-qa="filters">
          <% if @results_view.provider_filter? %>
            <%= render partial: 'results/provider' %>
          <% else %>
            <%= render partial: 'results/location' %>
          <% end %>
          <%= render partial: 'results/subjects' %>
          <%= render partial: 'results/study_type' %>
          <%= render partial: 'results/qualifications' %>
          <%= render partial: 'results/funding' %>
          <%= render partial: 'results/vacancy' %>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <% if @results_view.no_results_found?%>
        <div class="govuk-grid-row">
          <h2 class="govuk-heading-l">
            There are no courses matching your&nbsp;search
          </h2>
          <%= render partial: "try_another_search_text" %>
        </div>
      <% else %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body search-results__count" data-qa="course-count">
              <%= @results_view.number_of_courses_string %> found within 50 miles
              <br />Sorted by distance from you
            </p>
          </div>
          <div class="govuk-grid-column-one-half">
            <p class="govuk-body search-results__new-search">
              <%= link_to "Start a new search", root_path, class: "govuk-link" %>
            </p>
          </div>
        </div>
      <% end %>

      <% if @results_view.suggested_search_visible? %>
        <div class="govuk-grid-row" data-qa="suggested_searches">
          <h3 class="govuk-heading-m" data-qa="suggested_search_heading">Suggested searches</h3>
          <p class="govuk-body" data-qa="suggested_search_description">You can find:</p>
          <ul class="govuk-list govuk-list--bullet">
            <%- @results_view.suggested_search_links.each do |link| %>
              <li data-qa="suggested_search_link">
                <a href="<%=link.url%>" class="govuk-link" data-qa="link"><%=link.text%></a><%=link.suffix%>
              </li>
            <%- end -%>
          </ul>
        </div>
      <% end %>
      <ul class="govuk-list search-results">
        <% @results_view.courses.each_with_index do |course, index| %>
          <li data-qa="course">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-6">
              <%= link_to course_path(provider_code: course.provider_code, course_code: course.course_code), class: "govuk-link  search-result-link", rel: "prev", data: { qa: "course__link" } do %>
                <span data-qa="course__provider_name" class="govuk-!-font-size-19"><%= course.provider.provider_name %></span>
                <br>
                <span data-qa="course__name" class="search-result-link-name govuk-!-font-size-24"><%= course.decorate.display_title %></span>
              <% end %>
            </h3>

            <% if @results_view.show_results_map? %>
              <% sites = @results_view.sites_for_results_map(course) %>
              <script>
                window.useCircles<%= index %> = <% if course.provider_type == "university" %>true<% else %>false<% end %>;
                window.trainingLocations<%= index %> = [
                  <% sites.each do |site_status| %>
                    {
                      "code": "<%= site_status.code %>",
                      "name": "<%= course.provider_type == "university" && sites.count == 1 ? 'University' : site_status.location_name %>",
                      "lat": "<%= site_status.latitude %>",
                      "lng": "<%= site_status.longitude %>",
                      "address": "",
                      "vacancies": ""
                    },
                  <% end %>
                ]
              </script>
            <% end %>

            <dl class="govuk-list--description">
              <dt class="govuk-list--description__label">Course</dt>
              <dd data-qa="course__description"><%= course.description%></dd>
              <% if @results_view.location_filter? && @results_view.has_sites?(course)  %>
                <!-- <img src="<%= @results_view.course_map_url(course) %>"
                   alt="Map showing <%= @results_view.radius %> miles
                   of <%= @results_view.location %>" class="filter-form__map govuk-!-margin-top-1"
                   data-qa="map" /> -->
                <% if course.provider_type == "university" %>
                  <dt class="govuk-list--description__label">Location</dt>
                  <dd data-qa="course__site_distance">
                    <ul class="govuk-list govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                      <li>
                        <span class="govuk-list--description__hint govuk-!-margin-top-0">Placement schools</span>
                        You’ll be placed in schools for most of your course

                        <details class="govuk-details" data-module="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              <% if @results_view.site_distance(course) < 11 %>
                                Placement schools are near you
                              <% elsif @results_view.site_distance(course) < 21 %>
                                Placement schools might be near you
                              <% else %>
                                Placement schools might be in commuting distance
                              <% end %>
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            <p>You can’t pick which schools you want to be in, but your university will try to place you in schools you can commute to.</p>
                            <p>Universities usually work with over 100 potential placement schools. Most will be within 10 miles of the university, but sometimes they can cover a wider area, especially outside of cities.</p>

                            <%= link_to course_path(provider_code: course.provider_code, course_code: course.course_code, anchor: 'section-schools'), class: "govuk-link" do %>
                              More about placements on this course
                            <% end %>
                          </div>
                        </details>
                        <span class="govuk-list--description__hint">University</span>
                        <%= @results_view.site_distance(course) %> mile<%= 's' if @results_view.site_distance(course) != 1 %> from you
                        <br /> You’ll be at university only some of the time

                        <% if @results_view.nearest_address(course).present? %>
                          <!-- <span class="govuk-list--description__hint">University address</span>
                          <%= @results_view.nearest_address(course) %> -->
                        <% end %>

                        <% if @results_view.show_results_map? %>
                          <div id="locations-map-<%= index %>" class="app-google-map govuk-!-margin-bottom-2 govuk-!-margin-top-2" data-qa="course__locations_map"></div>
                        <% end %>
                      </li>
                    </ul>
                  </dd>
                <% else %>
                  <dt class="govuk-list--description__label">
                    <% if @results_view.sites_count(course) > 1 %>
                      Nearest location
                    <% else %>
                      Location
                    <% end %>
                  </dt>
                  <dd data-qa="course__site_distance">
                    <%= @results_view.site_distance(course) %> mile<%= 's' if @results_view.site_distance(course) != 1 %> from you
                    <% if @results_view.sites_count(course) > 1 %>
                      <div class="govuk-!-margin-top-0">
                        (Nearest of <%= @results_view.sites_count(course) %> locations to choose from)
                      </div>
                    <% end %>
                    <% if @results_view.nearest_address(course).present? %>
                      <span class="govuk-list--description__hint">Location</span>
                      <% if @results_view.nearest_location_name(course) != "Main Site" %>
                        <%= @results_view.nearest_location_name(course) %><br />
                      <% end %>
                      <%= @results_view.nearest_address(course) %>
                    <% end %>

                    <% if @results_view.show_results_map? %>
                      <div id="locations-map-<%= index %>" class="app-google-map govuk-!-margin-bottom-2 govuk-!-margin-top-2" data-qa="course__locations_map"></div>
                    <% end %>
                  </dd>
                <% end %>
              <% end %>
              <dt class="govuk-list--description__label">Financial support</dt>
              <dd data-qa="course__funding_options"><%= course.decorate.funding_option %></dd>
              <% if course['accrediting_provider'].present? %>
                <dt class="govuk-list--description__label">Accredited body</dt>
                <dd data-qa="course__accrediting_provider"><%= course['accrediting_provider']['provider_name'] %></dd>
              <% end %>
              <% unless @results_view.location_filter?  %>
                <dt class="govuk-list--description__label">Main address</dt>
                <dd data-qa="course__main_address">
                  <%= course.provider.decorate.short_address %>
                </dd>
              <% end %>
              <% if @results_view.vacancy_filter?  %>
                <dt class="govuk-list--description__label">Vacancies</dt>
                <dd data-qa="course__has_vacancies">
                  <%= course.decorate.has_vacancies? %>
                </dd>
              <% end %>
            </dl>
          </li>
        <% end %>
      </ul>
      <%= paginate(@results_view.courses, total_pages: @results_view.total_pages) %>

      <% unless @results_view.show_results_map? %>
        <p class="govuk-body">
          <%= link_to "Show map", params.to_enum.to_h.merge(map: 1), class: 'govuk-link' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
