<div data-qa="course__bursary_details">
  <% if FeatureFlag.active?(:bursaries_and_scholarships_announced) %>
    <p class="govuk-body">
      You may be eligible for a bursary of <%= number_to_currency(course.bursary_amount) %>.
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <% if course.bursary_requirements.length > 1 %>
        <% course.bursary_requirements.each do |requirement| %>
          <li><%= requirement %></li>
        <% end %>
      <% end %>
    </ul>
  
    <p class="govuk-body">
      <%= govuk_link_to 'Find out about bursaries, including eligibility criteria', t('get_into_teaching.url_bursaries_and_scholarships') %>.
    </p>

  <p class="govuk-body">
    You may also be eligible for a <%= govuk_link_to 'loan while you study', t('get_into_teaching.url_funding_your_training') %>.
  </p>

  <p class="govuk-body">
    Find out about financial support if you’re from <%= govuk_link_to 'outside the UK', 'https://www.gov.uk/government/publications/train-to-teach-in-england-non-uk-applicants/train-to-teach-in-england-if-youre-a-non-uk-citizen#rate' %>.
  </p>
</div>
