<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-schools"><%= course.placements_heading %></h2>
  <div data-qa="course__about_schools">
  <% if course.program_type == 'higher_education_programme' %>
    <%= render AdviceComponent.new(title: 'Where you will train') do %>
      <%= render partial: 'courses/placement/hei', locals: { course: course } %>
    <% end %>
  <% elsif course.program_type == 'scitt_programme' %>
    <%= render AdviceComponent.new(title: 'Where you will train') do %>
      <%= render partial: 'courses/placement/scitt', locals: { course: course } %>
    <% end %>
  <% end %>
  <% if course.how_school_placements_work.present? %>
    <%= markdown(course.how_school_placements_work) %>
  <%end%>
  </div>
</div>
