<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-advice">Support and advice</h2>
  <p class="govuk-body">You can speak to a <%= govuk_link_to 'teacher training adviser', t('get_into_teaching.url_teacher_training_adviser') %>
  for free, dedicated advice. They are all experienced teachers who can give you one-to-one support with your application. They can also help you
    get school experience, and find events where you can speak to training providers and teachers.</p>
  <p class="govuk-body">Call Get Into Teaching free of charge on <%= t("get_into_teaching.tel") %>, or
    <%= govuk_link_to 'chat online', t('get_into_teaching.url_online_chat') %>
    <%= t('get_into_teaching.opening_times') %> (except public holidays).</p>

  <h3 class="govuk-heading-m">Is there something wrong with this page?</h3>
  <p class="govuk-body">If there is something wrong with this course listing, <%= bat_contact_mail_to('contact us by email', subject: "Edit #{course.name} (#{course.provider_code}/#{course.course_code})") %>.</p>
</div>
