<%= content_for :body_end do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Settings.google.maps_api_key %>&callback=initLocationsMap" async defer></script>
<% end %>

<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="section-apply">Apply</h2>

  <% if @course.has_vacancies %>
    <% if Settings.display_apply_button %>
      <p class="govuk-body">
        <%= render GovukComponent::StartNowButton.new(
          text: 'Apply for this course',
          href: apply_path(provider_code: course.provider.code, course_code: course.code),
          html_attributes: { 'data-qa': 'course__apply_link' },
        ) %>
      </p>
    <% else %>
      <div data-qa="course__end_of_cycle_notice">
        <p class="govuk-body">
          You can apply to this course from 13 October.
        </p>
      </div>
    <% end %>

    <% if Settings.display_apply_button %>
      <h3 class="govuk-heading-m">Choose a training location</h3>
      <p class="govuk-body" data-qa="course__training_location_guidance">You’ll also need to choose a training location – select the relevant location name on the application form.</p>
    <% else %>
      <h3 class="govuk-heading-m">Training locations</h3>
    <% end %>

    <div id="locations-map" class="app-google-map" data-qa="course__locations_map"></div>

    <table class="govuk-table app-table--vertical-align-middle" data-qa="course__choose_a_training_location">
      <caption class="govuk-visually-hidden">Choose a training location - List of locations, vacancies and codes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Location</th>
          <th class="govuk-table__header" scope="col">Vacancies</th>
          <th class="govuk-table__header" scope="col">Code</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @locations.each do |location| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong><%= smart_quotes(location.name) %></strong>
              <br>
              <%= smart_quotes(location.decorate.full_address) %>
            </td>
            <td class="govuk-table__cell">
              <%= location.location_status.has_vacancies ? 'Yes' : 'No' %>
            </td>
            <td class="govuk-table__cell"><%= location.code %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%= render GovukComponent::Warning.new(
      text: 'You cannot apply for this course because it currently has no vacancies. To find courses with vacancies, change your search settings to ‘Only courses with vacancies’.',
    ) %>
  <% end %>
</div>

<script>
  window.trainingLocations = [
    <% @locations.each do |location| %>
      {
        "code": "<%= location.code %>",
        "name": "<%= smart_quotes(location.name) %>",
        "lat": "<%= location.latitude.present? ? location.latitude : course.provider.latitude %>",
        "lng": "<%= location.longitude.present? ? location.longitude : course.provider.longitude %>",
        "address": "<%= smart_quotes(location.decorate.full_address) %>",
        "vacancies": "<%= location.location_status.has_vacancies ? "" : "No vacancies" %>"
      },
    <% end %>
  ]
</script>
