<%= content_for :page_title, "#{course.name_and_code} with #{smart_quotes(course.provider.provider_name)}" %>

<% if permitted_referrer? %>
  <%= content_for(:before_content) do %>
    <%= govuk_back_link({
      text: 'Back to search results',
      href: request.referer,
      html_attributes: {
        data: { qa: 'page-back' },
      },
    }) %>
  <% end %>
<% end %>

<div data-module="ga-track-scrolling ga-track-copying">
  <h1 class="govuk-heading-xl">
    <span class="govuk-heading-l govuk-!-margin-bottom-0" data-qa="course__provider_name">
      <%= smart_quotes(course.provider.provider_name) %>
    </span>
    <%= course.name_and_code %>
  </h1>

  <p class="govuk-body-l" data-qa='course__description'><%= course.description %></p>

  <%= render Courses::SummaryComponent.new(course) %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render Courses::ContentsComponent.new(course) %>

      <% if course.about_course.present? %>
        <%= render partial: 'courses/about_course' %>
      <% end %>

      <% if course.how_school_placements_work.present? ||
        course.program_type == 'higher_education_programme' ||
        course.program_type == 'scitt_programme' ||
        course.site_statuses.map(&:site).uniq.many? %>
        <%= render partial: 'courses/about_schools' %>
      <% end %>

      <%= render Courses::EntryRequirementsComponent.new(course: course) %>

      <% if course.salaried? %>
        <%= render partial: 'courses/salary' %>
      <% end %>

      <%= render partial: 'courses/fees_and_financial_support' %>

      <% if course.provider.train_with_us.present? ||  course.about_accrediting_body.present? %>
        <%= render partial: 'courses/about_the_provider' %>
      <% end %>

      <% if course.interview_process.present? %>
        <%= render partial: 'courses/interview_process' %>
      <% end %>

      <%= render Courses::InternationalStudentsComponent.new(course: course) %>

      <% if course.provider.train_with_disability.present? %>
        <%= render partial: 'courses/train_with_disabilities' %>
      <% end %>

      <%= render partial: 'courses/contact_details' %>

      <%= render partial: 'courses/advice' %>

      <div class="govuk-!-margin-bottom-8" id="section-apply">
        <% if CycleTimetable.mid_cycle? %>
          <%= @course.has_vacancies? ? render('apply_button') : render('no_vacancies_warning') %>
        <% else %>
          <div data-qa="course__end_of_cycle_notice">
            <h1 class="govuk-heading-l">Apply</h1>
            <p class="govuk-body">
              Courses are currently closed but you can still
              <%= govuk_link_to('start or continue an application', Settings.apply_base_url) %>
              anyway.
            </p>

            <p class="govuk-body">You’ll be able to:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                find courses starting in the <%= CycleTimetable.next_cycle_year_range %>
                academic year from <%= CycleTimetable.find_reopens.to_s(:govuk_date_and_time) %>
              </li>
              <li>submit your application from <%= CycleTimetable.apply_reopens.to_s(:govuk_date_and_time) %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
