<%= content_for :page_title, "#{course.name_and_code} with #{smart_quotes(course.provider.provider_name)}" %>

<% if permitted_referrer? %>
  <%= content_for(:before_content) do %>
    <%= govuk_back_link({
      text: 'Back to search results',
      href: request.referer,
      html_attributes: {
        data: { qa: 'page-back' },
      },
    }) %>
  <% end %>
<% end %>

<div data-module="ga-track-scrolling ga-track-copying">
  <h1 class="govuk-heading-xl">
    <span class="govuk-heading-l govuk-!-margin-bottom-0" data-qa="course__provider_name">
      <%= smart_quotes(course.provider.provider_name) %>
    </span>
    <%= course.name_and_code %>
  </h1>

  <p class="govuk-body-l" data-qa='course__description'><%= course.description %></p>

  <%= render Courses::SummaryComponent.new(course) %>

  <%= render Courses::ApplyComponent.new(course) unless course.has_vacancies? %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render Courses::ContentsComponent.new(course) %>

      <% if course.about_course.present? %>
        <%= render partial: 'courses/about_course' %>
      <% end %>

      <%= render Courses::AboutSchoolsComponent.new(course) %>

      <%= render Courses::EntryRequirementsComponent.new(course: course) %>

      <% if course.salaried? %>
        <%= render partial: 'courses/salary' %>
      <% end %>

      <%= render Courses::FeesAndFinancialSupportComponent.new(course) %>

      <% if course.provider.train_with_us.present? ||  course.about_accrediting_body.present? %>
        <%= render partial: 'courses/about_the_provider' %>
      <% end %>

      <% if course.interview_process.present? %>
        <%= render partial: 'courses/interview_process' %>
      <% end %>

      <%= render Courses::InternationalStudentsComponent.new(course: course) %>

      <% if course.provider.train_with_disability.present? %>
        <%= render partial: 'courses/train_with_disabilities' %>
      <% end %>

      <%= render Courses::ContactDetailsComponent.new(course) %>

      <%= render partial: 'courses/advice' %>

      <%= render Courses::ApplyComponent.new(course) if course.has_vacancies? || !CycleTimetable.mid_cycle? %>
    </div>
  </div>
</div>
