<div class="app-cookie-preferences">
  <%= render partial: 'shared/error_message', locals: { error_anchor_id: 'cookie-consent-accept' } %>
  <p class="govuk-body">With your permission, we use Google Analytics to collect data about how you use ‘Find teacher training courses’. This information helps us improve our service.</p>
  <p class="govuk-body">Google is not allowed to use or share our analytics data with anyone.</p>
  <p class="govuk-body">Google Analytics stores anonymised information about:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>how you got to ‘Find teacher training courses’</li>
    <li>the pages you visit on this site and how long you spend on them</li>
    <li>what you click on while you’re visiting the site</li>
  </ul>

  <table class="govuk-table">
    <thead class="govuk-table__header">
      <tr>
        <th class="govuk-table__header govuk-!-width-one-third">Name</th>
        <th class="govuk-table__header govuk-!-width-one-third">Purpose</th>
        <th class="govuk-table__header govuk-!-width-one-third">Expires</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body govuk-!-width-one-third">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">_ga</td>
        <td class="govuk-table__cell">Distinguishes anonymous&nbsp;users</td>
        <td class="govuk-table__cell">2&nbsp;years</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">_gid</td>
        <td class="govuk-table__cell">Distinguishes anonymous&nbsp;users</td>
        <td class="govuk-table__cell">24&nbsp;hours</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">_gat</td>
        <td class="govuk-table__cell">Limits requests</td>
        <td class="govuk-table__cell">10&nbsp;minutes</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">_gat_gtag_UA_112932657_1</td>
        <td class="govuk-table__cell">Limits requests</td>
        <td class="govuk-table__cell">10&nbsp;minutes</td>
      </tr>
    </tbody>
  </table>

  <%= form_with url: create_cookie_preferences_path, method: :post do |form| %>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Do you want to accept Google Analytics cookies?</legend>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <%= form.radio_button(
              :cookie_consent,
              true,
              id: 'cookie-consent-accept',
              class: 'govuk-radios__input',
              checked: cookies['consented-to-cookies'] == 'true',
              data: { qa: 'cookie-consent-accept' },
            ) %>
            <label class="govuk-label govuk-radios__label" for="cookie-consent-accept">Yes</label>
          </div>
          <div class="govuk-radios__item">
            <%= form.radio_button(
              :cookie_consent,
              false,
              id: 'cookie-consent-deny',
              class: 'govuk-radios__input',
              checked: cookies['consented-to-cookies'] == 'false',
              data: { qa: 'cookie-consent-deny' },
            ) %>
            <label class="govuk-label govuk-radios__label" for="cookie-consent-deny">No</label>
          </div>
        </div>
      </fieldset>
    </div>
    <%= form.submit 'Save cookie settings', name: nil, class: 'govuk-button', data: { qa: 'save-changes' } %>
  <% end %>
</div>
