<div data-qa="course__bursary_details">
  <% if FeatureFlag.active?(:bursaries_and_scholarships_announced) %>
    <p class="govuk-body">
      You’ll get a bursary of <%= number_to_currency(bursary_amount) %> if you have <%= bursary_first_line_ending %>
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <% unless bursary_requirements.empty? %>
        <% bursary_requirements.each do |requirement| %>
          <li><%= requirement %></li>
        <% end %>
      <% end %>
    </ul>

    <p class="govuk-body">
      You do not have to apply for a bursary - if you’re eligible, you’ll automatically start receiving it once you begin your course.
    </p>
  <% end %>

  <p class="govuk-body">
    You may be eligible for a <%= govuk_link_to 'loan while you study', t('get_into_teaching.url_funding_your_training') %> – note that you’ll have to apply for <%= govuk_link_to 'undergraduate student finance', 'https://www.gov.uk/student-finance' %>.
  </p>

  <p class="govuk-body">
    Find out about financial support if you’re from <%= govuk_link_to 'outside the UK', 'https://www.gov.uk/government/publications/train-to-teach-in-england-non-uk-applicants/train-to-teach-in-england-if-youre-a-non-uk-citizen#rate' %>.
  </p>
</div>
