<%= govuk_footer do |footer| %>
  <%= footer.meta do %>
    <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
      <h2 class="govuk-heading-m">Get support</h2>
      <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Telephone</h2>
          <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16">
            <li><%= t('get_into_teaching.tel') %></li>
            <li><%= t('get_into_teaching.opening_times') %></li>
            <li>Free of charge</li>
          </ul>
        </div>
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Online chat</h2>
          <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
            <li><%= link_to 'Talk to an adviser online', t('get_into_teaching.url_online_chat'), class: 'govuk-footer__link' %></li>
            <li><%= t('get_into_teaching.opening_times') %></li>
          </ul>
        </div>
      </div>
      <h2 class="govuk-visually-hidden">Support links</h2>
      <ul class="govuk-footer__inline-list govuk-!-margin-bottom-0">
        <li class="govuk-footer__inline-list-item">
          <%= link_to 'Accessibility', accessibility_path, class: 'govuk-footer__link' %>
        </li>
        <li class="govuk-footer__inline-list-item">
          <%= link_to 'Cookies', cookie_preferences_path, class: 'govuk-footer__link' %>
        </li>
        <li class="govuk-footer__inline-list-item">
          <%= link_to 'Privacy policy', privacy_path, class: 'govuk-footer__link' %>
        </li>
        <li class="govuk-footer__inline-list-item">
          <%= link_to 'Terms and conditions', terms_path, class: 'govuk-footer__link' %>
        </li>
      </ul>
    </div>
    <div class="govuk-footer__meta-item">
      <a class="govuk-footer__link govuk-footer__copyright-logo govuk-!-margin-bottom-1" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
    </div>
  <% end %>
<% end %>
