<head>
  <title><%= content_for(:page_title) %> - Find postgraduate teacher training - GOV.UK</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= canonical_tag %>
  <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
  <%= tag :meta, property: 'og:image', content: asset_pack_path('media/images/govuk-opengraph-image.png') %>
  <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
  <%= favicon_link_tag asset_pack_path('media/images/favicon.ico') %>
  <%= favicon_link_tag asset_pack_path('media/images/govuk-mask-icon.svg'), rel: 'mask-icon', type: 'image/svg', color: '#0b0c0c' %>
  <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-152x152.png'), rel: 'apple-touch-icon', type: 'image/png', size: '152x152' %>
  <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-167x167.png'), rel: 'apple-touch-icon', type: 'image/png', size: '167x167' %>
  <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-180x180.png'), rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= content_for(:head) %>
</head>
