<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <title><%= content_for(:page_title) %> - Find postgraduate teacher training - GOV.UK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_tag %>
    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_pack_path('media/images/govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.ico') %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-mask-icon.svg'), rel: 'mask-icon', type: 'image/svg', color: '#0b0c0c' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-152x152.png'), rel: 'apple-touch-icon', type: 'image/png', size: '152x152' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-167x167.png'), rel: 'apple-touch-icon', type: 'image/png', size: '167x167' %>
    <%= favicon_link_tag asset_pack_path('media/images/govuk-apple-touch-icon-180x180.png'), rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= content_for(:head) %>

  </head>

  <body class="govuk-template__body ">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <%= render partial: 'layouts/cookie-banner' unless current_page?(cookie_preferences_path)%>

    <%= render GovukComponent::Header.new(
      logo: 'GOV.UK',
      service_name: 'Find postgraduate teacher training',
      service_name_href: root_path,
    ) %>

    <div class="govuk-width-container">
      <%= render GovukComponent::PhaseBanner.new(phase: 'Beta') do %>
        This is a new service – <%= govuk_link_to 'give feedback or report a problem', 'mailto:becomingateacher@digital.education.gov.uk?subject=Feedback%20about%20Find%20postgraduate%20teacher%20training', class: 'govuk-link--no-visited-state' %>
      <% end %>

      <%= yield(:before_content) %>

      <main class="govuk-main-wrapper" id="main-content" role="main">
        <% if flash[:success] %>
          <%= render GovukComponent::NotificationBanner.new(title: 'Success', success: true, title_id: 'success-message', html_attributes: { role: 'alert' }) do |notification_banner| %>
            <%= notification_banner.slot(:heading, text: flash[:success]) %>
          <% end %>
        <% end %>

        <%= yield %>
      </main>
    </div>

    <% if @render_feedback_component %>
      <%= render(
        FeedbackComponent.new(
          path: request.env['PATH_INFO'],
          controller: params[:controller],
        ),
      ) %>
    <% end %>

    <%= render GovukComponent::Footer.new do |footer| %>
      <%= footer.slot(:meta) do %>
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="govuk-heading-m">Get support</h2>
          <div class="govuk-grid-row govuk-!-margin-bottom-5">
            <div class="govuk-grid-column-one-half">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Telephone</h2>
              <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16">
                <li><%= t('get_into_teaching.tel') %></li>
                <li><%= t('get_into_teaching.opening_times') %></li>
                <li>Free of charge</li>
              </ul>
            </div>
            <div class="govuk-grid-column-one-half">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Online chat</h2>
              <ul class="govuk-footer__meta-custom govuk-list govuk-!-font-size-16 govuk-!-margin-bottom-8">
                <li><%= link_to 'Talk to an adviser online', t('get_into_teaching.url_online_chat'), class: 'govuk-footer__link' %></li>
                <li><%= t('get_into_teaching.opening_times') %></li>
              </ul>
            </div>
          </div>
          <h2 class="govuk-visually-hidden">Support links</h2>
          <ul class="govuk-footer__inline-list govuk-!-margin-bottom-0">
            <li class="govuk-footer__inline-list-item">
              <%= link_to 'Accessibility', accessibility_path, class: 'govuk-footer__link' %>
            </li>
            <li class="govuk-footer__inline-list-item">
              <%= link_to 'Cookies', cookie_preferences_path, class: 'govuk-footer__link' %>
            </li>
            <li class="govuk-footer__inline-list-item">
              <%= link_to 'Privacy policy', privacy_path, class: 'govuk-footer__link' %>
            </li>
            <li class="govuk-footer__inline-list-item">
              <%= link_to 'Terms and conditions', terms_path, class: 'govuk-footer__link' %>
            </li>
          </ul>
        </div>
        <div class="govuk-footer__meta-item">
          <a class="govuk-footer__link govuk-footer__copyright-logo govuk-!-margin-bottom-1" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
        </div>
      <% end %>
    <% end %>

    <%= javascript_pack_tag 'application' %>
    <%= content_for(:body_end) %>
  </body>
</html>
